* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --black: #000000;
  --pink: #941755;
}

header {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 0px 10px;
}

li {
  color: var(--black);
  padding: 0px 10px;
  margin: 10px;
  font-size: larger;
  cursor: pointer;
  transition: 1s ease;
}

li:hover {
  color: var(--pink);
  transition: 1s ease;
}
h2 {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  color: var(--pink);
  font-size: 30px;
}

main {
  display: flex;
  justify-content: center;
}

.conteiner {
  display: flex;
  justify-content: center;
}

td {
  width: 15vw;
  font-size: 25px;
  border: 1px solid var(--black);
}

.cor {
  background-color: var(--pink);
  color: var(--white);
  font-size: 30px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 12%;
}

p {
  background-color: var(--pink);
  color: var(--white);
  font-size: 20px;
}
